<div class='edit-contributor'>

    <div class='col-md-3'>
        <span class='hipster img-fluid rounded'></span>
    </div>

    <h2>EDIT CONTRIBUTOR {{idContrib}}</h2>
    <div *ngIf="editContributor">
        <div class='contributor-identity'>
            <h3>The identity of the contributor:</h3>
            UID : <input [(ngModel)]='editContributor.uid'/> <br>
            FIRSTNAME : <input [(ngModel)]='editContributor.firstname'/> <br>
            LASTNAME : <input [(ngModel)]='editContributor.lastname'/> <br>
            <br>
            <br>
        </div>

        <div class='job-contributor'>
            <h3>The job of the contributor</h3>
            <form>
                <SELECT name="Job" size="1">
                    <option value="0">--Select job--</option>
                    <option *ngFor="let job of jobs" value={{job.id}}>{{job.name}}</option>
                </SELECT>
            </form>
        </div>
        <br>

        <br>
        <div class='comment'>
            <h3>Comments:</h3>
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Leave a comment"></textarea>
            </mat-form-field>
        </div>

        <br>
        <div class='validation'>
            <h3>Validation:</h3>
            <button name='button' (click)='addContributors()'>Modify the contributor
            </button>
        </div>
    </div>
</div>