
h2 {
  color: black;
  background-color: #198b7c;
  text-align: center;
}

.validation {
  text-align: right;
  justify-content: flex-end;
}

.contributor-identity {
  text-align: right;
  justify-content: flex-end;
}

.job-contributor {
  text-align: right;
  justify-content: flex-end;
}

.comment {
  text-align: right;
  justify-content: flex-end;
}