<div class='new-contributor'>
    FIRSTNAME : <input [(ngModel)]='newContributor.firstname'/>
    LASTNAME: <input [(ngModel)]='newContributor.lastname'/>
    UID : <input [(ngModel)]='newContributor.uid'/>


    <button type='button' name='button' (click)="addContributors()" *ngIf="'Contributors'">Add a new contributor
    </button>
</div>
<br>

<div class='job-contributor'>
    <form>
        <SELECT name="Job" size="1">
            <option value="0">--List of jobs--</option>
            <option *ngFor="let job of jobs" value={{job.id}}>{{job.name}}</option>
        </SELECT>
    </form>
</div>



