<!--<form class="create-contributors">
    <mat-form-field class="profile">
        <input matInput placeholder="UID of collaborater">
    </mat-form-field>

    <mat-form-field class="profile">
        <input matInput type="text" placeholder="Firstname of collaborater">
    </mat-form-field>

    <mat-form-field class="profile">
        <input matInput type="text" placeholder="Lastname of collaborater">
    </mat-form-field>

    <mat-form-field class="profile">
        <textarea matInput type="text" placeholder="Comments"></textarea>
    </mat-form-field>

</form> -->

<button class="validate" (click)="create()"> CREATE</button>