<div class='new-contributor'>

    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <h2>ADD A NEW CONTRIBUTOR</h2>

    <div class='contributor-identity'>
        <h3>The identity of the contributor:</h3>
        UID : <input [(ngModel)]='newContributor.uid'/> <br>
        FIRSTNAME : <input [(ngModel)]='newContributor.firstname'/> <br>
        LASTNAME : <input [(ngModel)]='newContributor.lastname'/> <br>
        <br>
        <br>
    </div>

    <div class='job-contributor'>
        <h3>The job of the contributor</h3>
        <select size="1" [(ngModel)]="newContributor.job">
            <option value="0">--Select job--</option>
            <option *ngFor="let job of jobs" [ngValue]='job.id'>{{job.name}}</option>
        </select>
    </div>
    <br>
    <br>
    <div class='comment'>
        <h3>Comments:</h3>
        <mat-form-field class="comments">
            <textarea matInput placeholder="Leave a comment"></textarea>
        </mat-form-field>
    </div>

    <br>
    <div class='validation'>
        <h3>Validation:</h3>
        <button name='button' (click)='createContributor()'>Add the contributor
        </button>
    </div>

</div>



