<div class='listOfContributors'>
    <h1> List of Contributors </h1>

    <div class='table-empty' *ngIf='contributors.length==0'>
        <h3>L'organigramme est vide.</h3>
    </div>

    <div class='table-responsive' *ngIf='contributors.length'>
        <table class="table of contributors">
            <thead>
            <tr>
                <th scope='col'>Firstname</th>
                <th scope='col'>Lastname</th>
                <th scope='col'>UID</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor='let contributor of contributors'>
                <td>{{contributor.firstname}}</td>
                <td>{{contributor.lastname}}</td>
                <td>{{contributor.uid}}</td>
                <td>
                    <button (click)='deleteContributor(contributor)'>Delete</button>
                </td>

                <td>
                    <a [routerLink]="['/edit-contributor', contributor.id]">Edit</a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <div>
        <button>
            <a routerLink='/new-contributor'>Add a new-contributor</a>
        </button>
    </div>
</div>






























